In [1]:
import pandas as pd

In [26]:
df = pd.DataFrame(
    [
        range(1,21,2),
        range(2,21,2),
        range(10,101,10)
    ], 
    columns=[f'co{r}'for r in range(1,11)]
)
df

   co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
0    1    3    5    7    9   11   13   15   17    19
1    2    4    6    8   10   12   14   16   18    20
2   10   20   30   40   50   60   70   80   90   100

## 위치
### 행의 위치

In [4]:
# 인덱스 1행의 위치
df.index.get_loc(1)

1

### 열의 위치

In [5]:
# 컬럼 co2의 위치
df.columns.get_loc('co2')

1

In [6]:
df.columns

Index(['co1', 'co2', 'co3', 'co4', 'co5', 'co6', 'co7', 'co8', 'co9', 'co10'], dtype='object')

## 행 이름 또는 열 이름 변경
### 행 이름 변경

In [7]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
# 인덱스 1의 이름을 new로 변경
df.rename(index={1:'new'})

     co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
0      1    3    5    7    9   11   13   15   17    19
new    2    4    6    8   10   12   14   16   18    20
2     10   20   30   40   50   60   70   80   90   100

In [8]:
help(df.rename)

Help on method rename in module pandas.core.frame:

rename(mapper: 'Renamer | None' = None, *, index: 'Renamer | None' = None, columns: 'Renamer | None' = None, axis: 'Axis | None' = None, copy: 'bool | None' = None, inplace: 'bool' = False, level: 'Level' = None, errors: 'IgnoreRaise' = 'ignore') -> 'DataFrame | None' method of pandas.core.frame.DataFrame instance
    Rename columns or index labels.

    Function / dict values must be unique (1-to-1). Labels not contained in
    a dict / Series will be left as-is. Extra labels listed don't throw an
    error.

    See the :ref:`user guide <basics.rename>` for more.

    Parameters
    ----------
    mapper : dict-like or function
        Dict-like or function transformations to apply to
        that axis' values. Use either ``mapper`` and ``axis`` to
        specify the axis to target with ``mapper``, or ``index`` and
        ``columns``.
    index : dict-like or function
        Alternative to specifying axis (``mapper, axis=0``
        is equivalent to ``index=mapper``).
    columns : dict-like or function
        Alternative to specifying axis (``mapper, axis=1``
        is equivalent to ``columns=mapper``).
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Axis to target with ``mapper``. Can be either the axis name
        ('index', 'columns') or number (0, 1). The default is 'index'.
    copy : bool, default True
        Also copy underlying data.
    inplace : bool, default False
        Whether to modify the DataFrame rather than creating a new one.
        If True then value of copy is ignored.
    level : int or level name, default None
        In case of a MultiIndex, only rename labels in the specified
        level.
    errors : {'ignore', 'raise'}, default 'ignore'
        If 'raise', raise a `KeyError` when a dict-like `mapper`, `index`,
        or `columns` contains labels that are not present in the Index
        being transformed.
        If 'ignore', existing keys will be renamed and extra keys will be
        ignored.

    Returns
    -------
    DataFrame or None
        DataFrame with the renamed axis labels or None if ``inplace=True``.

    Raises
    ------
    KeyError
        If any of the labels is not found in the selected axis and
        "errors='raise'".

    See Also
    --------
    DataFrame.rename_axis : Set the name of the axis.

    Examples
    --------
    ``DataFrame.rename`` supports two calling conventions

    * ``(index=index_mapper, columns=columns_mapper, ...)``
    * ``(mapper, axis={'index', 'columns'}, ...)``

    We *highly* recommend using keyword arguments to clarify your
    intent.

    Rename columns using a mapping:

    >>> df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
    >>> df.rename(columns={"A": "a", "B": "c"})
       a  c
    0  1  4
    1  2  5
    2  3  6

    Rename index using a mapping:

    >>> df.rename(index={0: "x", 1: "y", 2: "z"})
       A  B
    x  1  4
    y  2  5
    z  3  6

    Cast index labels to a different type:

    >>> df.index
    RangeIndex(start=0, stop=3, step=1)
    >>> df.rename(index=str).index
    Index(['0', '1', '2'], dtype='object')

    >>> df.rename(columns={"A": "a", "B": "b", "C": "c"}, errors="raise")
    Traceback (most recent call last):
    KeyError: ['C'] not found in axis

    Using axis-style parameters:

    >>> df.rename(str.lower, axis='columns')
       a  b
    0  1  4
    1  2  5
    2  3  6

    >>> df.rename({1: 2, 2: 4}, axis='index')
       A  B
    0  1  4
    2  2  5
    4  3  6

In [14]:
# 인덱스 1의 이름을 new1, 2의 이름을 new2로 변경 (원본 적용)
df.rename(index={1:'new1', 2:'new2'}, inplace=True)
df

      co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
0       1    3    5    7    9   11   13   15   17    19
new1    2    4    6    8   10   12   14   16   18    20
new2   10   20   30   40   50   60   70   80   90   100

In [15]:
df.index

Index([0, 'new1', 'new2'], dtype='object')

### 열 이름 변경

In [18]:
# 컬럼 co2의 이름을 two로 변경
df.rename(columns={'co2':'two'})

      co1  two  co3  co4  co5  co6  co7  co8  co9  co10
0       1    3    5    7    9   11   13   15   17    19
new1    2    4    6    8   10   12   14   16   18    20
new2   10   20   30   40   50   60   70   80   90   100

In [28]:
# 전체 변경
df.columns= ['하나', '둘', '셋', '넷', '다섯', '여섯', '일곱', '여덟', '아홉', '열']
df

   하나   둘   셋   넷  다섯  여섯  일곱  여덟  아홉    열
0   1   3   5   7   9  11  13  15  17   19
1   2   4   6   8  10  12  14  16  18   20
2  10  20  30  40  50  60  70  80  90  100