## iloc [Integer location]
- 데이터프레임의 행이나 열에 index로 접근
- 문법
    - 데이터프레임.iloc[행index, 열index]
    - 데이터프레임.iloc[행index]

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    [
        range(1,21,2),
        range(2,21,2),
        range(10,101,10)
    ], 
    index = ['row1', 'row2', 'row3'],
    columns=[f'co{r}'for r in range(1,11)]
)
df

      co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
row1    1    3    5    7    9   11   13   15   17    19
row2    2    4    6    8   10   12   14   16   18    20
row3   10   20   30   40   50   60   70   80   90   100

### 행 추출
- 문법 : 데이터프레임.iloc[행인덱스, 열인덱스]

In [4]:
# row1 추출
df.loc['row1']
df.iloc[0]

co1      1
co2      3
co3      5
co4      7
co5      9
co6     11
co7     13
co8     15
co9     17
co10    19
Name: row1, dtype: int64

In [9]:
# row1, row3 추출
df.loc[['row1', 'row3']]
df.iloc[[0, -1]]

      co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
row1    1    3    5    7    9   11   13   15   17    19
row3   10   20   30   40   50   60   70   80   90   100

In [12]:
# row1, row2 추출
df.loc['row1':'row2']
df.iloc[0:2]

      co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
row1    1    3    5    7    9   11   13   15   17    19
row2    2    4    6    8   10   12   14   16   18    20

### 열 추출
- 문법 : 데이터프레임.iloc[행인덱스, 열인덱스]

In [13]:
# co2 추출
df.loc[:,'co2']
df.iloc[:,1]

row1     3
row2     4
row3    20
Name: co2, dtype: int64

In [22]:
# co2, co6 추출
df.loc[:,['co2','co6']]
df.iloc[:,[1,5]]

      co2  co6
row1    3   11
row2    4   12
row3   20   60

In [24]:
# co2 ~ co8 추출
df.loc[:,'co2':'co8']
df.iloc[:,1:8]

      co2  co3  co4  co5  co6  co7  co8
row1    3    5    7    9   11   13   15
row2    4    6    8   10   12   14   16
row3   20   30   40   50   60   70   80

In [26]:
# 행 : row1, row2 열 : co4, co5
df.loc['row1':'row2', 'co4':'co5']
df.iloc[:2, 3:5]

      co4  co5
row1    7    9
row2    8   10