In [1]:
import pandas as pd

### 딕셔너리 형태

In [2]:
df = pd.DataFrame({
    'a':[2,4,6],
    'b':(1,3,5)
})
df

   a  b
0  2  1
1  4  3
2  6  5

In [3]:
type(df)

pandas.core.frame.DataFrame

#### 데이터프레임에 index명 지정
##### index, column 지정 안 하면 자동으로 정수로 넣어짐

In [5]:
# 순서대로 넣을 때는 매개변수명은 있어도 없어도 상관 없음
df = pd.DataFrame(
    data={
    'a':[2,4,6],
    'b':(1,3,5)   
    },
    index=['일','이','삼']
)
df

   a  b
일  2  1
이  4  3
삼  6  5

### 리스트 안에 리스트 형식

In [7]:
df = pd.DataFrame(
    [1,2,3],
    ['a','b','c']
)

df

   0
a  1
b  2
c  3

In [8]:
df = pd.DataFrame(
    data=[1,2,3],
    index=['a','b','c'],
    columns=['one']
)
df

   one
a    1
b    2
c    3

In [10]:
df = pd.DataFrame(
    [[1,3,5], 
     [2,4,6]],
    columns=['co1','co2','co3']
)
df

   co1  co2  co3
0    1    3    5
1    2    4    6