## loc [location]
- 데이터프레임의 행이나 열에 label로 접근
- 문법
    - 데이터프레임.loc[행이름, 열이름]
    - 데이터프레임.loc[행이름]

In [1]:
import pandas as pd

### 데이터프레임 생성

In [2]:
df = pd.DataFrame(
    [
        range(1,21,2),
        range(2,21,2),
        range(10,101,10)
    ], 
    index = ['row1', 'row2', 'row3'],
    columns=[f'co{r}'for r in range(1,11)]
)
df

      co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
row1    1    3    5    7    9   11   13   15   17    19
row2    2    4    6    8   10   12   14   16   18    20
row3   10   20   30   40   50   60   70   80   90   100

### 행 추출
- 문법 : 데이터프레임.loc[행이름]

In [5]:
# 첫 번째 행 추출
df['row1':'row1'] #슬라이싱은 여러 값을 뽑아낸다는 의미가 있어서 데이터프레임 형태로 추출됨
df.loc['row1'] #시리즈 형태로 추출됨

co1      1
co2      3
co3      5
co4      7
co5      9
co6     11
co7     13
co8     15
co9     17
co10    19
Name: row1, dtype: int64

In [8]:
# row1, row3 추출
df.loc[['row1', 'row3']]

      co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
row1    1    3    5    7    9   11   13   15   17    19
row3   10   20   30   40   50   60   70   80   90   100

In [12]:
df.loc[['row1', 'row2']]
df.loc['row1':'row2']

      co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
row1    1    3    5    7    9   11   13   15   17    19
row2    2    4    6    8   10   12   14   16   18    20

### 열 추출

In [16]:
# co2 추출
df.co2
df['co2']
df.loc[:,'co2']

row1     3
row2     4
row3    20
Name: co2, dtype: int64

In [19]:
# co2, co6, co8 추출
df[['co2', 'co6', 'co8']]
df.loc[:,['co2', 'co6', 'co8']]

      co2  co6  co8
row1    3   11   15
row2    4   12   16
row3   20   60   80

In [20]:
# co2 ~ co8 추출
df.loc[:,'co2':'co8']

      co2  co3  co4  co5  co6  co7  co8
row1    3    5    7    9   11   13   15
row2    4    6    8   10   12   14   16
row3   20   30   40   50   60   70   80

In [21]:
# 행 : row2, 열 : co2, co4 추출
df.loc['row2', ['co2', 'co4']]

co2    4
co4    8
Name: row2, dtype: int64

In [23]:
# 행 : row1, row2, 열 : co2, co4 추출
df.loc['row':'row2', ['co2', 'co4']]

      co2  co4
row1    3    7
row2    4    8