- 통계량
    - 데이터를 수치화한 값
    - 대표적인 통계량 : 평균(mean), 분산(variance), 표준편차(standard deviation) 등
        - 평균 : 총합 / 개수
        - 편차 : 자료 - 평균
            - 평균에서 얼마나 떨어져 있는지를 나타냄
            - 편차의 합은 0
        - 분산 : 편차 제곱의 평균
            - 자료(데이터)가 평균 기준으로 어떻게 흩어져 있는지를 나타내는 지표
            - 분산이 작다 => 자료(데이터)가 평균값 근처에 모여 있음
            - 분산이 크다 => 자료(데이터)가 평균값에서 멀리 떨어져 있음
        - 표준편차 : 분산의 제곱근
            - 평균에서 얼마나 떨어졌는지를 나타냄
        - 중앙값 
            - 자료(데이터)를 작은 수부터 큰 수로 나열하여 가운데 위치한 값
        - 사분위수(Quartile)
            - 자료(데이터)를 작은 수부터 큰 수로 나열 후 4등분하여 구함
            - Q1, Q2, Q3, Q4
        - 백분위수
            - 자료(데이터)를 작은 수부터 큰 수로 나열 후 4등분한 3개의 수
            - Q1, Q2, Q3
            - Q1 : 25% , Q2 : 50% , Q3 : 75%
            - 제 1사분위수(Q1) : 25 백분위수 (하위 백분위)
            - 제 2사분위수(Q2) : 50 백분위수
            - 제 3사분위수(Q3) : 75 백분위수 (상위 백분위)

In [1]:
import pandas as pd

In [6]:
# 국내증시.csv 파일 읽어오기
stock = pd.read_csv('국내증시.csv')
stock[:2]
stock.head(2)

,순위,종목명,검색비율,현재가,전일비,등락률,거래량,시가,고가,저가,PER,ROE
0,1,NAVER,2.45%,205000,8900,+4.54%,1221047,200500,206500,198200,44.24,3.29
1,2,삼성전자,1.72%,66000,900,+1.38%,5462382,66300,66300,65400,8.19,17.07

In [7]:
# 기초 통계량 (숫자만 보여줌)
stock.describe()

,순위,현재가,전일비,거래량,시가,고가,저가,PER,ROE
count,30.000000,30.000000,30.000000,3.000000e+01,30.000000,30.000000,30.000000,30.000000,28.000000
mean,15.500000,109137.966667,3626.466667,8.317425e+06,110589.466667,112377.666667,107392.100000,37.519667,1.441071
std,8.803408,151154.771978,4456.954471,1.477681e+07,154188.440264,154924.417054,149630.258334,101.733320,20.472842
min,1.000000,924.000000,55.000000,1.672760e+05,1089.000000,1110.000000,833.000000,-134.130000,-47.660000
25%,8.250000,11775.000000,908.750000,6.784010e+05,13050.000000,14002.500000,11422.500000,0.802500,-0.165000
50%,15.500000,48025.000000,1560.000000,1.540552e+06,47000.000000,48525.000000,46650.000000,13.510000,5.805000
75%,22.750000,178450.000000,4400.000000,8.487873e+06,174400.000000,181150.000000,172850.000000,43.232500,10.405000
max,30.000000,678000.000000,17500.000000,6.936279e+07,694000.000000,696000.000000,671000.000000,478.140000,37.460000

In [18]:
data = pd.DataFrame({
    'number': range(1,11)
})
data.T # 행, 열을 바꿈

        0  1  2  3  4  5  6  7  8   9
number  1  2  3  4  5  6  7  8  9  10

In [19]:
data.describe()

         number
count  10.00000
mean    5.50000
std     3.02765
min     1.00000
25%     3.25000
50%     5.50000
75%     7.75000
max    10.00000

In [22]:
# 개수
data.count()

number    10
dtype: int64

In [23]:
# 평균
data.mean()

number    5.5
dtype: float64

In [24]:
data.sum() / data.count()

number    5.5
dtype: float64

In [25]:
# 분산
var = data.var()
var

number    9.166667
dtype: float64

In [26]:
import math
math.sqrt(var)

C:\Users\hi-sinchon\AppData\Local\Temp\ipykernel_11548\1904068684.py:2: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  math.sqrt(var)

3.0276503540974917

In [27]:
# 중앙값
data.median()

number    5.5
dtype: float64

In [28]:
data = [10, 8, 10, 8, 8, 4]

In [33]:
# 평균
mean = sum(data) / len(data)
mean

8.0

In [38]:
# 분산 : var(variance)
var = sum([int(d-mean)**2 for d in data]) / len(data)
var

4.0

In [41]:
# 표준편차
import math
math.sqrt(var)

2.0

In [42]:
# 중앙값
import numpy as np
np.median(data)

8.0

In [43]:
data.sort()
data

[4, 8, 8, 8, 10, 10]

In [44]:
np.mean(data)

8.0

In [45]:
np.var(data)

4.0

In [46]:
np.std(data)

2.0

In [48]:
# top은 빈도수가 가장 높은 값 보여줌
stock.describe(include=object)

          종목명   검색비율     등락률
count      30     30      30
unique     30     24      30
top     NAVER  0.59%  +4.54%
freq        1      2       1

In [49]:
stock.count()

순위      30
종목명     30
검색비율    30
현재가     30
전일비     30
등락률     30
거래량     30
시가      30
고가      30
저가      30
PER     30
ROE     28
dtype: int64

In [ ]:
stock.value_counts()

In [ ]:
stock.검색비율.value_counts()

In [ ]:
stock.등락률.value_counts()

In [60]:
# 각 변수의 결측치 개수
stock.isnull().sum()

순위      0
종목명     0
검색비율    0
현재가     0
전일비     0
등락률     0
거래량     0
시가      0
고가      0
저가      0
PER     0
ROE     2
dtype: int64

In [64]:
# 결측치 행 추출
stock[stock.ROE.isnull()]

,순위,종목명,검색비율,현재가,전일비,등락률,거래량,시가,고가,저가,PER,ROE
9,10,카나리아바이오,1.00%,40450,1800,+4.66%,2215124,39300,40850,39100,-5.28,NaN
14,15,SK바이오사이언스,0.59%,79000,4100,-4.93%,814352,81000,83300,78900,49.50,NaN