In [1]:
# 현재 폴더 열기
!start .

In [2]:
import pandas as pd

In [4]:
apt_price = pd.read_csv('주택도시보증공사_전국 신규 민간아파트 분양가격 동향_20220131.csv', encoding='CP949')
apt_price[:2]

  지역명           규모구분      연도     월 분양가격(제곱미터)
0  서울           모든면적  2015.0  10.0       5841
1  서울  전용면적 60제곱미터이하  2015.0  10.0       5652

In [5]:
apt_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7140 entries, 0 to 7139
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지역명         6460 non-null   object
 1   규모구분        6460 non-null   object
 2   연도          6460 non-null   float64
 3   월           6460 non-null   float64
 4   분양가격(제곱미터)  5976 non-null   object
dtypes: float64(2), object(3)
memory usage: 279.0+ KB

In [11]:
# 결측치 수 확인
apt_price.isna().sum()

지역명            680
규모구분           680
연도             680
월              680
분양가격(제곱미터)    1164
dtype: int64

In [24]:
# 결측치 데이터 추출
apt_price[apt_price['분양가격(제곱미터)'].isna()]

      지역명                     규모구분      연도    월 분양가격(제곱미터)
368    광주  전용면적 85제곱미터초과 102제곱미터이하  2016.0  2.0        NaN
369    광주           전용면적 102제곱미터초과  2016.0  2.0        NaN
374    대전           전용면적 102제곱미터초과  2016.0  2.0        NaN
388    강원  전용면적 85제곱미터초과 102제곱미터이하  2016.0  2.0        NaN
421    제주            전용면적 60제곱미터이하  2016.0  2.0        NaN
...   ...                      ...     ...  ...        ...
7135  NaN                      NaN     NaN  NaN        NaN
7136  NaN                      NaN     NaN  NaN        NaN
7137  NaN                      NaN     NaN  NaN        NaN
7138  NaN                      NaN     NaN  NaN        NaN
7139  NaN                      NaN     NaN  NaN        NaN

[1164 rows x 5 columns]

# 전처리

## 컬럼명 변경
- 분양가격(제곱미터) -> 분양가격
- 규모구분 -> 전용면적

In [26]:
apt_price.rename(columns={'분양가격(제곱미터)':'분양가격', '규모구분':'전용면적'}, inplace=True)
apt_price[:2]

  지역명           전용면적      연도     월  분양가격
0  서울           모든면적  2015.0  10.0  5841
1  서울  전용면적 60제곱미터이하  2015.0  10.0  5652

## 결측치 처리