In [1]:
import pandas as pd

In [24]:
market = pd.read_csv('market100.csv')
market[:2]

,number,name,position,age,nation,team,value
0,1,Kylian Mbappé,Centre-Forward,24,France,Paris Saint-Germain,180
1,2,Erling Haaland,Centre-Forward,22,Norway,Manchester City,170

In [9]:
# 모든 컬럼 : 행의 합
market.sum()
market.sum(axis=0)
market.sum(axis='index')

# 숫자가 있는 컬럼의 행 합
market.sum(numeric_only=True)

number    5050
age       2458
value     7060
dtype: int64

In [4]:
# 특정 컬럼 1) : 행의 합
# 나이 총합
market.age.sum()

2458

In [10]:
# 특정 컬럼 1) : 행의 합
# 나이, 이적료 총합
market[['age', 'value']].sum()

age      2458
value    7060
dtype: int64

In [12]:
# 열의 합
market.sum(axis=1, numeric_only=True)

0     205
1     194
2     142
3     146
4     135
     ...
95    170
96    174
97    175
98    179
99    180
Length: 100, dtype: int64

In [14]:
# 특정 행 1) : 열의 합
# 1~10위 
market.head(10).sum(axis=1, numeric_only=True)
market[:10].sum(axis=1, numeric_only=True)

0    205
1    194
2    142
3    146
4    135
5    137
6    139
7    128
8    133
9    134
dtype: int64

In [18]:
# 특정 행 2) : 열의 합
# 짝수인 행의 열의 합
market[::2].sum(axis=1, numeric_only=True)

0     205
2     142
4     135
6     139
8     133
10    119
12    132
14    120
16    119
18    123
20    124
22    127
24    133
26    138
28    125
30    129
32    133
34    126
36    130
38    132
40    136
42    139
44    142
46    147
48    134
50    138
52    142
54    148
56    139
58    144
60    145
62    147
64    150
66    152
68    157
70    159
72    163
74    152
76    155
78    160
80    162
82    156
84    160
86    162
88    162
90    167
92    168
94    170
96    174
98    179
dtype: int64

In [26]:
# 컬럼 추가 : 열의 합
market['합'] = market[['age', 'value']].sum(axis=1)
market[:4]

,number,name,position,age,nation,team,value,합
0,1,Kylian Mbappé,Centre-Forward,24,France,Paris Saint-Germain,180,204
1,2,Erling Haaland,Centre-Forward,22,Norway,Manchester City,170,192
2,3,Jude Bellingham,Central Midfield,19,England,Borussia Dortmund,120,139
3,4,Vinicius Junior,Left Winger,22,Brazil,Real Madrid,120,142

In [44]:
import numpy as np

data = pd.DataFrame({
    '홀수':[1, 3, 5],
    '짝수':[2, 4, np.nan]
})
data

   홀수   짝수
0   1  2.0
1   3  4.0
2   5  NaN

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   홀수      3 non-null      int64
 1   짝수      2 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 176.0 bytes

In [29]:
# 9.0으로 나오는 이유는 시리즈라서 dtype을 맞춰주기 위해서
# sum은 결측치를 제외하고 합해줌
data.sum()

홀수    9.0
짝수    6.0
dtype: float64

In [31]:
# 결측치 포함하여 연산
data.sum(skipna=False)

홀수    9.0
짝수    NaN
dtype: float64

In [32]:
# 타입은 int
data.홀수.sum()

9

In [33]:
# 열의 합
data.sum(axis=1)

0    3.0
1    7.0
2    5.0
dtype: float64

In [34]:
# 열의 합 - 결측치 포함
data.sum(axis=1, skipna=False)

0    3.0
1    7.0
2    NaN
dtype: float64

In [35]:
# 행의 평균
data.mean()

홀수    3.0
짝수    3.0
dtype: float64

In [36]:
# 행의 평균 - 결측치 포함
data.mean(skipna=False)

홀수    3.0
짝수    NaN
dtype: float64

In [37]:
# 열의 평균
data.mean(axis=1)

0    1.5
1    3.5
2    5.0
dtype: float64

In [38]:
# 열의 평균 - 결측치 포함
data.mean(axis=1, skipna=False)

0    1.5
1    3.5
2    NaN
dtype: float64

In [39]:
# 행의 개수 
# skipna가 없지만 기본적으로 결측치를 제외함
data.count()

홀수    3
짝수    2
dtype: int64

In [45]:
data.loc['합'] = data.sum()
data

    홀수   짝수
0  1.0  2.0
1  3.0  4.0
2  5.0  NaN
합  9.0  6.0